body {
	font-size: 0.8em;
	font-family: Monospace;
}
.header {
	border: solid 4px;
	background: none
	font-family: Monospace;
}
#default-pic {
	width: 50px;
	height: auto;
}
.profile-name {
	color: blue;
}
.profile-div {
	border: solid 4px;
	background: grey;
	width: 70px;
}
.btn-group dropup {
	position: auto;
	right: 0;
	bottom: 0;
	background: pink;
	border: solid 4px;
}
.btn-group {
	color: blue;
	position: auto;
}
.wrapper {
	background: grey;
	border: blue solid;
	height: 1000px;
}
.dropdown {
	position: auto;
}
.dropdown {
	position: relative;
}
