body {
	font-size: 0.8em;
	font-family: arial, sans-serif;
}
.header {
	border: solid 4px;
	background: none
	font-family: Monospace;
}
#default-pic {
	width: 50px;
	height: auto;
}
.profile-name {
	color: blue;
}
.profile-div {
	border: solid 4px;
	background: grey;
	width: 70px;
}
#plusbutton {
	position: fixed;
	right: 0;
	bottom: 0;
	background: pink;
	border: solid 4px;
}
.wrapper {
	background: grey;
	border: blue solid;
	height: 1000px;
}
#toggle2 {
	border:solid 2px black;
	width: 100px;
	background: white;
}
#toggle3 {
	border: solid 2px black;
	width: 100px;
	background: white;
}
#toggle4 {
	border: solid 2px black;
	width: 100px;
	background: white;
}
